body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a8e063, #56ab2f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: bold;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

.score {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
    margin: 15px auto;
    font-size: 28px;
}

.choices button {
    font-size: 60px;
    width: 120px;
    height: 120px;
    lign-height: 120px
    text-align: center;
    margin: 10px;
    border: none;
    outline: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background: #f1f1f1;
    transition: 0.2s;
}

.choices button:hover {
    background: #87f16c;
    transform: scale(1.1);
}


.display {
    margin-top: 15px;
    font-size: 28px;
    text-align: center;
}

#result {
    margin-top: 10px;
    color: #333;
    font-size: 34px;
    font-weignt: bold;
    
}
