body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* test rebuild */
.game-container {
    background: white;
    border: 5px solid green;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 10px;
}


.score {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 16px;
}

.choices button {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border: none;
    outline: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background: #f1f1f1;
    transition: 0.2s;
}


.choices button:hover {
    background: #87f16c;
    transform: scale(1.1);
}


.display {
    margin-top: 15px;
}

#result {
    margin-top: 10px;
    color: #333;
}
